[submodule "DCEL"]
	path = DCEL
	url = https://github.com/manisonik/dcel.git
	branch = master
[submodule "Cairo-Build"]
	path = Cairo-Build
	url = https://github.com/manisonik/cairo-windows
	branch = master
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
